@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Modak&family=Permanent+Marker&family=Press+Start+2P&display=swap');


body {
    background-color: rgb(192, 189, 189);
    margin: 0;
}
header {
     background-image: url(images/universe.jpg);
    margin: 0;
    
}


 h1 {
    color: rgb(150, 138, 118);
    font-family: 'Fredoka One', cursive;
    font-size:  40px;
    text-align: center;
    margin:0;
    
}
 h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    text-align: center;
    background-color: rgb(206, 105, 10);
    margin:0;
}
 h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    text-align: center;
    background-color: rgb(206, 105, 10);
    
}
section#intro>p {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 24px;
    
}
section#intro>ul>li{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: center;
}
section#aboutme>p{
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
}
section#contact{
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    

}
section#project {
    display:flex;
    flex-direction: column;
    flex:1px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    
    
    
}
.container {
    display: flex;
    flex-direction: column;
}
.top {
    flex: 1px;
    margin: 10px;
}

.container img {
    
    width:100%;
    

}

@media all and (min-width: 800px) {
    section {
        padding: 0 10%;
    }

    .container {
        flex-direction: column;
    }
    
    
}